

<div class="container">
  <h2><%= @post.title %></h2>
  <h3>Edit your post</h3>
  <form method="post" action="/edit">
    <input type="text" name="post[title]" value="<%= @post.title%>"><br>
    <input type="text" name="post[description]" value="<%= @post.description%>"><br>
    <input type="text" name="post[email]" value="<%= @post.email%>"><br>
    <input type="text" name="post[price]" value="<%= @post.price%>"><br>
    <input type="submit" value="Edit">
  </form>


</div>
